<!doctype html>
<html lang="eb">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Baguiocity.asia | Baguio's Free Classified Ads Online</title>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/default.css"></head>
<body>

  <div class="jumbotron">
    <div class="container">
      <header>
        <div class="logo">
          <a href="/" title="baguiocity.asia">
            <img src="/static/img/logo.png"></a>
        </div>
        <div class="social hidden-sm">
          <ul>
            <li>
              <a href="#" title=""> <i class="typcn typcn-social-facebook-circular"></i>
              </a>
            </li>
            <li>
              <a href="#" title=""> <i class="typcn typcn-social-twitter-circular"></i>
              </a>
            </li>
          </ul>
        </div>
      </header>
    </div>
    <div class="row text-center">
      <div class="center-image">
        <img class="img-responsive" src="/static/img/centermap.png"></div>
      <div class="bottom-strip"></div>
    </div>
  </div>

  <div class="row marketing">
    <div class="container text-center">
      <header>
        <span>What can I do here?</span>
      </header>
      <hr />
      <article>
        <div class="col-lg-3 item create">
          <a href="#" title="">
            <i class="typcn typcn-pen"></i>
          </a>
          <h3>CREATE</h3>
          <p>
            Lorem ipsum dolor sit amet, cor adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="col-lg-3 item search">
          <a href="#" title="">
            <i class="typcn typcn-zoom-outline"></i>
          </a>
          <h3>SEARCH</h3>
          <p>
            Lorem ipsum dolor sit amet, cor adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="col-lg-3 item transact">
          <a href="#" title="">
            <i class="typcn typcn-phone"></i>
          </a>
          <h3>TRANSACT</h3>
          <p>
            Lorem ipsum dolor sit amet, cor adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="col-lg-3 item enjoy">
          <a href="#" title="">
            <i class="typcn typcn-gift"></i>
          </a>
          <h3>ENJOY</h3>
          <p>
            Lorem ipsum dolor sit amet, cor adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </article>
  </div>
</div>

<div class="row video">
  <div class="container"></div>
</div>

<footer>
  <div class="container copyright">
    <header>
      <img src="/static/img/logo-footer.png"></header>
    <div class="footer-nav">
      <ul>
        <li>
          <a href="#" title="">About</a>
        </li>
        <li>
          <a href="#" title="">FAQ</a>
        </li>
        <li>
          <a href="#" title="">Contact</a>
        </li>
        <li>
          <a href="#" title="">Testimonials</a>
        </li>
        <li>
          <a href="#" title="">Terms</a>
        </li>
        <li>
          <a href="#" title="">Privacy</a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p>Copyright © 2012-2013 Nixth Media.</p>
      <p>Handcrafted in the Philippines. Proudly Pinoy.</p>
    </div>
  </div>
</footer>

</body>
</html>
