/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  .marketing {
    background-color: #990000;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
  .marketing {
    background-color: #990000;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
  .marketing {
    background-color: #efefef;

    ul {
      li {

        width: 200px;

        .item {
          font-size: 7em;
          width: 200px;
          height: 200px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }

  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px) {
/* Styles */
  .marketing {
    background-color: #efefef;

    ul {
      li {

        width: 150px;

        .item {
          font-size: 5em;
          width: 150px;
          height: 150px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }

  }
}

@media (min-width: 992px) {
  .marketing {
    background-color: #efefef;

    ul {
      li {

        width: 200px;

        .item {
          font-size: 7em;
          width: 200px;
          height: 200px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }

  }
}

@media only screen and (min-width : 1224px) {
/* Styles */
  .marketing {
    background-color: #efefef;

     ul {
      li {

        width: 260px;

        .item {
          font-size: 9em;
          width: 260px;
          height: 260px;
        }

        p {
          font-size: 16px;
          padding: 0 15px;
          margin-top: 60px;
        }

        .create {
          h3 {
            margin-top: 70px;
          }
        }

        .search {
          h3 {
            margin-top: 70px;
          }
        }

        .transact {
          h3 {
            margin-top: 70px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 70px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
  .marketing {
    background-color: #990000;

    ul {
      li {

        width: 150px;

        .item {
          font-size: 5em;
          width: 150px;
          height: 150px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }

  }
}
