body {
    background-color: #fff;
    font-size: 16px;
}
.jumbotron {
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #aedf52;
    background-size: 150% 20%;
}
.center-image {
    margin: 0 auto;
    img {
        max-width: 100%;
        height: auto;
    }
}
.bottom-strip {
    background-color: #efefef;
    height: 186px;
    margin-top: -130px;
}
header {
    margin-top: 10px;
    .logo {
        float: left;
    }
    .social {
        float: right;
        font-size: 2em;
        line-height: 16px;
        ul {
            list-style-type: none;
            li {
                float: left;
                a {
                    color: #fff;
                    display: block;
                    .transition(all, 0.1s, ease-out);
                    &:hover {
                        color: #c7ff5e;
                        text-decoration: none;
                        -moz-transform: scale(1.3) rotate(-30deg);
                        -webkit-transform: scale(1.3) rotate(-30deg);
                        -o-transform: scale(1.3) rotate(-30deg);
                        transform: scale(1.3) rotate(-30deg);
                    }
                }
            }
        }
    }
}
.marketing {
    background-color: #efefef;
    padding-bottom: 50px;
    header {
        font-family:"DroidSansRegular";
        font-size: 30px;
        text-align: center;
        span {
            color: #494949;
            background-color: #efefef;
            padding: 0 30px;
        }
    }
    hr {
        border-top: 1px solid #cacaca;
        border-bottom: 1px solid #fff;
        margin-top: -25px;
    }
    article {
        margin-top: 50px;
        .item {
            color: #fff;
            padding: 0 7px;

            a {
                border: 7px solid #bfbfbf;
                padding-top: 20px;
                border-radius: 280px;
                font-size: 9em;
                height: inherit;
                color: #fff;
                display: block;
                .transition(all, 0.6s, ease-out);

                &:hover {
                    text-decoration: none;
                    background-color: #346a34;
                }
            }

            p {
                font-family:"DroidSansRegular";
                font-size: 14px;
                color: #494949;
                padding: 0 10px;
            }
        }
        .create {
            a {
                background-color: #c9e924;
                height: 280px;
            }
            h3 {
                font-family:"DroidSansRegular";
                position: relative;
                color:#c9e924;
            }
        }
        .search {
            a {
                background-color: #ffb633;
                height: 280px;
            }
            h3 {
                font-family:"DroidSansRegular";
                position: relative;
                color:#ffb633;
            }
        }
        .transact {
            a {
                background-color: #ffe733;
                height: 280px;
            }
            h3 {
                font-family:"DroidSansRegular";
                position: relative;
                color:#ffe733;
            }
        }
        .enjoy {
            a {
                background-color: #E8483A;
                height: 280px;
            }
            h3 {
                font-family:"DroidSansRegular";
                position: relative;
                color:#E8483A;
            }
        }
    }
}
.video {
    display: block;
    padding-top: 80px;
    background-color: #fff;
}
footer {
    font-family:"DroidSansRegular";
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #121212;
    header {
        padding: 0 0;
    }
    .footer-nav {
        height: 20px;
        padding-top: 20px;
        margin-bottom: 40px;
        ul {
            list-style: none;
            display: block;
            margin: 0;
            padding: 0;
            li {
                font-size: 12px;
                float: left;
                height: inherit;
                margin-right: 20px;
                padding-right: 20px;
                border-right: 1px solid #222;
                a {
                    color: #515151;
                    .transition(all, 0.3s, ease-out);
                    &:hover {
                        text-decoration: none;
                        color: #346a34;
                    }
                }
            }
            li:last-child {
                border-right: none;
            }
            ;
        }
    }
    .copyright {
        p {
            line-height: 7px;
            clear: both;
            color: #515151;
            font-size: 12px;
        }
    }
    .footer-copyright {
        margin-top: 10px;
    }
}
.row {
    margin-right: 0;
    margin-left: 0;
}
