@media only screen and (max-width : 320px) {

  header {
    padding: 0 10px;

    logo {
      float: none;
      margin: 0 auto;
    }

    .social {
      display: none;
      float: none;
    }
  }

  .bottom-strip {
    height: 106px;
    margin-top: -80px;
  }

  .marketing {

    header {
      font-size: 20px;
    }

    hr {
      margin-top: -15px;
    }

    ul {
      li {

        width: 200px;

        .item {
          font-size: 7em;
          width: 200px;
          height: 200px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }
  }

  footer {

    .copyright {
      text-align: center;
    }

    .footer-nav {
      height: inherit;
      ul {
        li {

          text-align: center;
          width: 100%;
          float: none;
          padding-right: 0;
          border-right: none;
          border-bottom: 1px dashed #222;

          a {

            padding: 10px;
            display: block;

            &:hover {
              background-color: #222222;
            }
          }

        }

        li:last-child {
          border-bottom: none;
        }
      }
    }

    .footer-copyright {
    }
  }
}

@media only screen and (min-width : 321px) {
/* Styles */

  header {
    padding: 0 10px;
  }

  .marketing {
    ul {
      li {

        width: 200px;

        .item {
          font-size: 7em;
          width: 200px;
          height: 200px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }
  }
}

@media only screen and (min-width : 480px) and (max-width: 600px) {

  header {
    padding: 0 10px;
    img {
      margin: 0 auto;
    }
  }

  .marketing {
    ul {
      li {

        width: 200px;

        .item {
          font-size: 7em;
          width: 200px;
          height: 200px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }
  }
}

@media only screen and (min-width : 600px) and (max-width: 767px) {
/* Styles */
  .marketing {
    ul {
      li {

        width: 125px;

        .item {
          font-size: 4em;
          width: 125px;
          height: 125px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }

  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
  .marketing {

    ul {
      li {

        width: 200px;

        .item {
          font-size: 7em;
          width: 200px;
          height: 200px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }

  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px) {
/* Styles */
  .marketing {
    ul {
      li {

        width: 150px;

        .item {
          font-size: 5em;
          width: 150px;
          height: 150px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }

  }
}

@media (min-width: 992px) {
  .marketing {
    ul {
      li {

        width: 200px;

        .item {
          font-size: 7em;
          width: 200px;
          height: 200px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 60px;
          }
        }

        .search {
          h3 {
            margin-top: 60px;
          }
        }

        .transact {
          h3 {
            margin-top: 60px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 60px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }

  }
}

@media only screen and (min-width : 1224px) {
/* Styles */
  .marketing {
     ul {
      li {

        width: 260px;

        .item {
          font-size: 9em;
          width: 260px;
          height: 260px;
        }

        p {
          font-size: 16px;
          padding: 0 15px;
          margin-top: 60px;
        }

        .create {
          h3 {
            margin-top: 70px;
          }
        }

        .search {
          h3 {
            margin-top: 70px;
          }
        }

        .transact {
          h3 {
            margin-top: 70px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 70px;
          }
        }
      }
    }

    article {
      padding-left: 0px;
    }
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

  header {
    padding: 0 10px;
  }

  .marketing {
    header {
      font-size: 20px;
      span {
        color: #494949;
        background-color: #efefef;
        padding: 0 30px;
      }
    }

    hr {
      border-top: 1px solid #cacaca;
      border-bottom: 1px solid #fff;
      margin-top: -14px;
    }

    ul {
      li {

        width: 220px;

        .item {
          font-size: 7em;
          width: 220px;
          height: 220px;
        }

        p {
          font-size: 14px;
          padding: 0 5px;
          margin-top: 70px;
        }

        .create {
          h3 {
            margin-top: 80px;
          }
        }

        .search {
          h3 {
            margin-top: 80px;
          }
        }

        .transact {
          h3 {
            margin-top: 80px;
          }
        }

        .enjoy {
          h3 {
            margin-top: 80px;
          }
        }
      }
    }

    article {
      margin-top: 70px;
      padding-left: 0px;
    }

  }
}
